@charset "UTF-8";
/* VARIABLES couleur */
/* effet wiggle footer */
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  40% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  60% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  70% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  40% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  60% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  70% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* effet points prochainement */
@-webkit-keyframes point1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.2, 0.8) translateY(0);
            transform: scale(1.2, 0.8) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.8, 1.2) translateY(-0.5em);
            transform: scale(0.8, 1.2) translateY(-0.5em);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  55% {
    -webkit-transform: scale(1, 1) translateY(-0.03em);
            transform: scale(1, 1) translateY(-0.03em);
  }
  65% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}
@keyframes point1 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.2, 0.8) translateY(0);
            transform: scale(1.2, 0.8) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.8, 1.2) translateY(-0.5em);
            transform: scale(0.8, 1.2) translateY(-0.5em);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  55% {
    -webkit-transform: scale(1, 1) translateY(-0.03em);
            transform: scale(1, 1) translateY(-0.03em);
  }
  65% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@-webkit-keyframes point2 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.2, 0.8) translateY(0);
            transform: scale(1.2, 0.8) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.8, 1.2) translateY(-0.5em);
            transform: scale(0.8, 1.2) translateY(-0.5em);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  55% {
    -webkit-transform: scale(1, 1) translateY(-0.03em);
            transform: scale(1, 1) translateY(-0.03em);
  }
  65% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes point2 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.2, 0.8) translateY(0);
            transform: scale(1.2, 0.8) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.8, 1.2) translateY(-0.5em);
            transform: scale(0.8, 1.2) translateY(-0.5em);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  55% {
    -webkit-transform: scale(1, 1) translateY(-0.03em);
            transform: scale(1, 1) translateY(-0.03em);
  }
  65% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@-webkit-keyframes point3 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.2, 0.8) translateY(0);
            transform: scale(1.2, 0.8) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.8, 1.2) translateY(-0.5em);
            transform: scale(0.8, 1.2) translateY(-0.5em);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  55% {
    -webkit-transform: scale(1, 1) translateY(-0.03em);
            transform: scale(1, 1) translateY(-0.03em);
  }
  65% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes point3 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.2, 0.8) translateY(0);
            transform: scale(1.2, 0.8) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.8, 1.2) translateY(-0.5em);
            transform: scale(0.8, 1.2) translateY(-0.5em);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  55% {
    -webkit-transform: scale(1, 1) translateY(-0.03em);
            transform: scale(1, 1) translateY(-0.03em);
  }
  65% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

/* sous- lignage */
.titreMenu a {
  font-size: 14px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

.titreMenu--note a {
  color: #400909;
}

.titreMenu--palette a {
  color: #3f3f3f;
}

.titreMenu--chic a {
  color: #c77412;
  letter-spacing: 1px;
}

.titreMenu--delice a {
  color: #3f3f3f;
}

.titreMenu .translation2--chic {
  color: #a56799;
  letter-spacing: 1px;
}

.titreMenu .translation2--delice {
  color: #3f3f3f;
  font-size: 14px;
}

.titreMenu .translation3--chic {
  color: #8f5aff;
  letter-spacing: 1px;
}

.titreMenu .translation3--delice {
  color: #3f3f3f;
  font-size: 14px;
}

.titreMenu a::before {
  content: "";
  width: 0%;
  position: absolute;
  height: 3px;
  bottom: -3px;
  left: 0%;
  border-radius: 2px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.titreMenu--chic a::before {
  background-color: #c77412;
}

.titreMenu--delice a::before {
  background-color: #8f5aff;
}

.titreMenu a:hover::before {
  right: 100%;
  width: 100%;
}

.titreMenu--note a:hover::before {
  background-color: #400909;
}

.titreMenu--palette a:hover::before {
  background-color: #72bf56;
}

.titreMenu--chic .translation--chic:hover::before {
  background-color: #c77412;
}

.titreMenu--chic .translation2--chic:hover::before {
  background-color: #a56799;
}

.titreMenu--chic .translation3--chic:hover::before {
  background-color: #8f5aff;
}

.titreMenu--delice .translation--delice:hover::before {
  background-color: #264be2;
}

.titreMenu--delice .translation2--delice:hover::before {
  background-color: #0b73f3;
}

.titreMenu--delice .translation3--delice:hover::before {
  background-color: #0887fb;
}

/* Effet fondu grossissement */
.scale {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.scale:hover p, .scale:hover h2, .scale:hover svg {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0.7;
}

* {
  margin: 0px auto;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 800px;
}

body {
  height: 100%;
}

body p {
  font-size: 12px;
}

/* ----MAIN ---- */
main {
  margin-bottom: 70px;
  height: 100%;
}

main h2 {
  text-align: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #3f3f3f;
  margin-bottom: 15px;
  margin-top: 15px;
}

footer {
  background-color: #579c87;
  opacity: 0.85;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

footer h3 {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #fcca46;
}

footer .mentions {
  text-decoration: none;
  margin: auto auto auto 40px;
}

footer .contact {
  text-decoration: none;
  margin: auto 40px auto auto;
}

footer .mentions:hover,
footer .contact:hover {
  -webkit-animation: wiggle 800ms ease-in-out;
          animation: wiggle 800ms ease-in-out;
}

header {
  background-color: #579c87;
  color: #fcca46;
  width: 100%;
  height: 90px;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  letter-spacing: -0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.prochainement {
  background-color: #579c87;
  color: #fcca46;
  opacity: 0.95;
  width: 250px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin-bottom: 150px;
}

.prochainement h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
}

.prochainement .point1 {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fcca46;
  right: -20px;
  top: 30px;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: point1;
          animation-name: point1;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.85, 0.42, 1);
          animation-timing-function: cubic-bezier(0.28, 0.85, 0.42, 1);
}

.prochainement .point2 {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fcca46;
  right: -35px;
  top: 30px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: point2;
          animation-name: point2;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
          animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

.prochainement .point3 {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fcca46;
  right: -50px;
  top: 30px;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-name: point3;
          animation-name: point3;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
          animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

.bloc__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 100px;
}

.bloc__menu--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bloc__menu--items a {
  text-decoration: none;
}

.bloc__menu--items:first-child {
  margin-top: 25px;
  margin-bottom: 10px;
  position: relative;
  padding-top: 0;
}

.bloc__menu--items:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 25px;
}

.bloc__item {
  width: 200px;
  height: 290px;
  -webkit-box-shadow: 2px 2px 10px grey;
          box-shadow: 2px 2px 10px grey;
}

.bloc__item--lanoteenchantee {
  background-color: #fcdfdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc__item--lanoteenchantee p {
  color: #400909;
  font-family: "Devonshire", cursive;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.bloc__item--lanoteenchantee h2 {
  color: #400909;
  font-family: "segoe print", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.bloc__item--lechicalafrancaise {
  background: #fff5fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc__item--lechicalafrancaise p {
  font-family: "Croissant One", cursive;
  font-size: 12px;
  background: linear-gradient(120deg, #dc8527, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc__item--lechicalafrancaise h2 {
  color: #c77412;
  font-family: "javanese text", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.bloc__item--ledelicedespapilles {
  background: #fbfbfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc__item--ledelicedespapilles p {
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  font-weight: bolder;
  background: linear-gradient(120deg, #264be2, #178ffb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc__item--ledelicedespapilles h2 {
  color: #0887fb;
  font-family: "segoe print", Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.bloc__item--lapalettedugout {
  background: #fdfffd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc__item--lapalettedugout p {
  font-family: "Kaushan Script", cursive;
  font-size: 16px;
  background: linear-gradient(120deg, #1b6817, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc__item--lapalettedugout h2 {
  color: #72bf56;
  font-family: "segoe print", Arial, Helvetica, sans-serif;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .bloc__menu {
    margin: 0 50px;
  }
  header {
    height: 70px;
    font-size: 20px;
  }
  footer {
    height: 50px;
  }
  footer h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 540px) {
  .bloc__menu--items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bloc__item--lanoteenchantee {
    margin-bottom: 20px;
  }
  .bloc__item--ledelicedespapilles {
    margin-bottom: 20px;
  }
  .prochainement {
    margin-bottom: 60px;
  }
  footer h3 {
    font-size: 15px;
  }
  footer .mentions {
    margin: auto auto auto 20px;
  }
  footer .contact {
    margin: auto 20px auto auto;
  }
}

/* ---- Section ---- */
.blocSection {
  margin: 0 auto 30px auto;
  width: 80%;
  height: 100%;
  padding: 10px 40px;
  -webkit-box-shadow: 0px 0px 10px 2px #d0cccc;
          box-shadow: 0px 0px 10px 2px #d0cccc;
}

.blocSection--note {
  background-color: #fcdfdb;
}

.blocSection--chic {
  background-color: #fff5fe;
}

.blocSection--palette {
  background-color: #fdfffd;
}

.blocSection--delice {
  background-color: #fbfbfc;
}

/* Titre section */
.titreSection h2 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.titreSection--note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.titreSection--note h2 {
  color: #400909;
  font-family: "devonshire", Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.titreSection--chic h2 {
  font-family: "Croissant one", Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, #dc8527, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.titreSection--palette h2 {
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, #1b6817, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  margin-bottom: 30px;
}

.titreSection--delice h2 {
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, #264be2, #178ffb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  margin-bottom: 30px;
}

/* menus */
.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.menus--note {
  font-family: "segoe print", Arial, Helvetica, sans-serif;
  color: #400909;
}

.menus--palette, .menus--delice {
  font-family: "segoe print", Arial, Helvetica, sans-serif;
  color: #3f3f3f;
}

.menus--chic {
  font-family: "cambria math", Arial, Helvetica, sans-serif;
  color: #3f3f3f;
}

.titreMenus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.titreMenus svg {
  width: 170px;
  height: auto;
  margin: 0;
}

.titreMenus .titreMenu {
  text-align: center;
}

/* Entrées, plats et desserts */
.entrées,
.plats,
.desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.entrée,
.plat,
.dessert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 5px auto;
}

.entrée--chic, .entrée--delice, .entrée--palette,
.plat--chic,
.plat--delice,
.plat--palette,
.dessert--chic,
.dessert--delice,
.dessert--palette {
  width: 80%;
}

.entrée--chic {
  color: #c77412;
}

.plat--chic {
  color: #a56799;
}

.dessert--chic {
  color: #8f5aff;
}

.description {
  width: 90%;
  font-weight: bold;
}

.prix {
  width: 10%;
  text-align: right;
}

.prix p {
  font-size: 16px;
  font-weight: bold;
}

.dessert .description {
  width: 100%;
  text-align: left;
  margin: 5px auto;
}

/* --- fin menu la note enchantée--- */
.finSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.finSection .image {
  width: 40%;
  text-align: end;
  margin-right: 10px;
}

.finSection .titreFinSection {
  width: 60%;
  margin-left: 10px;
  color: #400909;
}

/* media queries */
@media screen and (max-width: 760px) {
  .titreMenus svg {
    width: 130px;
  }
}

@media screen and (max-width: 660px) {
  .titreMenus svg {
    width: 110px;
  }
}

@media screen and (max-width: 615px) {
  .titreMenus svg {
    width: 90px;
  }
}

@media screen and (max-width: 560px) {
  .titreSection h2 {
    font-size: 20px;
  }
  .entrée,
  .plat,
  .dessert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .entrée .description,
  .plat .description,
  .dessert .description {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .entrée .prix,
  .plat .prix,
  .dessert .prix {
    font-weight: 500;
  }
  .blocSection {
    padding: 10px;
    width: 90%;
  }
}

@media screen and (max-width: 460px) {
  .titreMenus svg {
    width: 70px;
  }
  .prix p {
    font-size: 14px;
  }
}

@media screen and (max-width: 390px) {
  .titreMenus svg {
    width: 50px;
  }
  .titreMenu a {
    font-size: 12px;
  }
  .finSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .finSection .image {
    width: 100%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .finSection .titreFinSection {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 360px) {
  .titreMenus svg {
    width: 40px;
  }
}

@media screen and (max-width: 330px) {
  .titreMenus svg {
    width: 30px;
  }
}

h2 {
  text-align: center;
  margin: 50px auto;
}

.lienMail {
  text-align: center;
  font-size: 16px !important;
}

.lorem1 {
  text-align: center;
  margin: 50px auto;
}

.lorem {
  text-align: justify;
  margin: auto 20px;
}
/*# sourceMappingURL=style.css.map */