@media screen and (max-width: 1024px) {
  .bloc__item {
    width: 190px;
    height: 260px;
  }
}

@media screen and (max-width: 800px) {
  .prochainement {
    width: 350px;
    height: auto;

    & p {
      font-size: 15px;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 70px;
    font-size: 20px;
  }

  footer {
    height: 50px;

    & h3 {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 450px) {
  .bloc__menu--items {
    flex-direction: column;
  }
  .bloc__item--lanoteenchantee {
    margin-bottom: 20px;
  }
  .bloc__item--ledelicedespapilles {
    margin-bottom: 20px;
  }
  .prochainement {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 372px) {
  .mentions {
    font-size: 12px;
  }
  .contact {
    font-size: 12px;
  }
}
