@media screen and (max-width: 1024px) {
  .bloc__item {
    width: 190px;
    height: 260px;
  }
}

@media screen and (max-width: 768px) {
  .bloc__menu{
    margin: 0 50px;
  }
  header {
    height: 70px;
    font-size: 20px;
  }

  footer {
    height: 50px;

    & h3 {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 450px) {
  .bloc__menu--items {
    flex-direction: column;
  }
  .bloc__item--lanoteenchantee {
    margin-bottom: 20px;
  }
  .bloc__item--ledelicedespapilles {
    margin-bottom: 20px;
  }
  .prochainement {
    margin-bottom: 60px;
  }
  footer{
    & h3 {
      font-size: 15px;
    }
    & .mentions {
    margin: auto auto auto 20px;
  }

  & .contact {
    margin: auto 20px auto auto;
  }
  }
}

