/* VARIABLES couleur */

$couleur_verte_principale: #579c87;
$couleur_jaune_principale: #fcca46;
$couleur_noire: #3f3f3f;
$couleur_vert_pale: #fdfffd;
$couleur_verte-text: #72bf56;
$couleur_degrade_vertfoncee: #1b6817;
$couleur_degrade_vertclaire: #beff7f;
