@charset "UTF-8";
/* VARIABLES couleur */
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  40% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  60% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  70% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  40% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  60% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  70% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  80% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.translation {
  font-size: 18px;
  text-decoration: none;
  position: relative;
  color: #400909;
  font-weight: bold;
}

.translation::before {
  content: "";
  width: 0%;
  position: absolute;
  height: 3px;
  background-color: #400909;
  bottom: 0px;
  left: 0%;
  border-radius: 2px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.translation:hover::before {
  right: 100%;
  width: 100%;
}

* {
  margin: 0px auto;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1024px;
}

body {
  height: auto;
}

body p {
  font-size: 12px;
}

footer {
  background-color: #579c87;
  opacity: 0.95;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
}

footer .mentions {
  margin: auto auto auto 20px;
  padding: 10px;
  text-decoration: none;
  color: #fcca46;
}

footer .contact {
  margin: auto 20px auto auto;
  padding: 10px;
  text-decoration: none;
  color: #fcca46;
}

footer .mentions:hover,
footer .contact:hover {
  -webkit-animation: wiggle 800ms ease-in-out;
          animation: wiggle 800ms ease-in-out;
}

header {
  background-color: #579c87;
  color: #fcca46;
  width: 100%;
  height: 90px;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  letter-spacing: -0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

/* ----MAIN ---- */
main {
  margin-bottom: 70px;
  height: 100%;
}

main h2 {
  text-align: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #3f3f3f;
  margin-bottom: 15px;
  margin-top: 30px;
}

/* ---- Section ---- */
section {
  margin: 0 auto;
  background-color: #fcdfdb;
  width: 80%;
  height: 100%;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 10px 2px #d0cccc;
          box-shadow: 0px 0px 10px 2px #d0cccc;
}

section h3 {
  font-family: "devonshire", Arial, Helvetica, sans-serif;
  color: #400909;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

/* ---titre menu --- */
.titre_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.titre_section h2 {
  color: #400909;
  font-family: "devonshire", Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 100;
}

/* --- menus --- */
.menus {
  font-family: "segoe print", Arial, Helvetica, sans-serif;
  color: #400909;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.menus .titre_menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.menus .titre_menus img {
  width: 170px;
  height: auto;
  margin: 0;
}

.menus .titre_menus .titre-menu {
  text-align: center;
}

.entrées,
.plats,
.desserts {
  width: 100%;
}

.entrées .entrée,
.entrées .plat,
.plats .entrée,
.plats .plat,
.desserts .entrée,
.desserts .plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 5px auto;
}

.entrées .entrée .description,
.entrées .plat .description,
.plats .entrée .description,
.plats .plat .description,
.desserts .entrée .description,
.desserts .plat .description {
  width: 90%;
}

.entrées .entrée .description p,
.entrées .plat .description p,
.plats .entrée .description p,
.plats .plat .description p,
.desserts .entrée .description p,
.desserts .plat .description p {
  font-weight: 500;
}

.entrées .entrée .prix,
.entrées .plat .prix,
.plats .entrée .prix,
.plats .plat .prix,
.desserts .entrée .prix,
.desserts .plat .prix {
  width: 10%;
  text-align: right;
}

.entrées .entrée .prix p,
.entrées .plat .prix p,
.plats .entrée .prix p,
.plats .plat .prix p,
.desserts .entrée .prix p,
.desserts .plat .prix p {
  font-size: 16px;
  font-weight: bold;
}

.dessert .description {
  width: 100%;
  text-align: left;
  margin: 5px auto;
}

/* --- fin menu --- */
.fin_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fin_section .svg_right {
  width: 40%;
  text-align: right;
  padding-right: 15px;
}

.fin_section h3 {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 750px) {
  .menus .titre_menus img {
    width: 130px;
    height: auto;
    margin: 0;
  }
  .menus .titre-menu {
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .menus .titre_menus img {
    width: 100px;
  }
  .menus .titre-menu a {
    font-size: 14px;
  }
  body p {
    font-size: 10px;
  }
  .entrées .entrée .prix p,
  .entrées .plat .prix p,
  .plats .entrée .prix p,
  .plats .plat .prix p,
  .desserts .entrée .prix p,
  .desserts .plat .prix p {
    font-size: 12px;
    font-weight: bold;
  }
}

@media screen and (max-width: 550px) {
  .titre_section img {
    width: 40px;
    height: auto;
  }
  .titre_section h2 {
    font-size: 25px;
  }
  .fin_section .svg_right img {
    width: 20px;
    height: auto;
  }
  .fin_section h3 {
    font-size: 20px;
  }
  footer .mentions {
    font-size: 12px;
  }
  footer .contact {
    font-size: 12px;
  }
}

@media screen and (max-width: 510px) {
  .menus {
    margin-bottom: 18px;
  }
  .menus .titre_menus {
    margin-bottom: 15px;
  }
  .menus .titre_menus img {
    width: 70px;
  }
  .entrées .entrée,
  .entrées .plat,
  .plats .entrée,
  .plats .plat,
  .desserts .entrée,
  .desserts .plat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .entrées .entrée .description,
  .entrées .plat .description,
  .plats .entrée .description,
  .plats .plat .description,
  .desserts .entrée .description,
  .desserts .plat .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .entrées .entrée .description p,
  .entrées .plat .description p,
  .plats .entrée .description p,
  .plats .plat .description p,
  .desserts .entrée .description p,
  .desserts .plat .description p {
    width: 100%;
    text-align: center;
  }
  .entrées .entrée .prix,
  .entrées .plat .prix,
  .plats .entrée .prix,
  .plats .plat .prix,
  .desserts .entrée .prix,
  .desserts .plat .prix {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .dessert .description {
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }
}

@media screen and (max-width: 430px) {
  .titre_section img {
    width: 25px;
    height: auto;
  }
  .titre_section h2 {
    font-size: 18px;
  }
  .menus {
    margin-bottom: 14px;
  }
  .menus .titre_menus {
    margin-bottom: 14px;
  }
  .menus .titre_menus img {
    width: 50px;
  }
  .fin_section .svg_right img {
    width: 15px;
    height: auto;
  }
  .fin_section h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .menus .titre_menus img {
    width: 30px;
    height: auto;
  }
  .menus .titre_menus a {
    font-size: 12px;
  }
  .fin_section .svg_right {
    width: 30%;
  }
  .fin_section .svg_right img {
    width: 15px;
    height: auto;
  }
  .fin_section h3 {
    width: 70%;
    font-size: 16px;
  }
}
/*# sourceMappingURL=la-note-enchantee.css.map */