@keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-2deg);
    }
    40% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-2deg);
    }
    60% {
      transform: rotate(2deg);
    }
    70% {
      transform: rotate(-2deg);
    }
    80% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.translation{
  font-size:18px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}
.translation1{
  color:$couleur_orange;
}
.translation2{
  color:$couleur_brun_rose;
}
.translation3{
  color:$couleur_violette;
}
.translation::before{
  content:'';
  width:0%;
  position: absolute;
  height: 3px;
  bottom: -2px;
  left:0%;
  border-radius: 2px;
  transition: all 500ms ease;
}
.translation1::before{
  background-color: $couleur_orange;
}
.translation2::before{
  background-color: $couleur_brun_rose;
}
.translation3::before{
  background-color: $couleur_violette;
}
.translation:hover::before{
  right:100%;
  width:100%;
}