* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  max-width: 800px;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;

  & p {
    font-size: 12px;
  }
}

/* ----MAIN ---- */

main {
  width: 100%;

  & h2 {
    text-align: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: $couleur_noire;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
