@media screen and (max-width: 750px) {
  .titre_menus {
    & img {
      width: 150px;
      height: auto;
      margin: 0;
    }
  }
  .titre-menu {
    margin: 0;
  }
}
@media screen and (max-width: 660px) {
  .menus {
    .titre_menus {
      & img {
        width: 130px;
        height: auto;
      }
      .titre-menu a {
        font-size: 14px;
      }
    }
  }
  body {
    & p {
      font-size: 10px;
    }
  }
  .entrées,
  .plats,
  .desserts {
    & .entrée,
    .plat {
      & .prix {
        & p {
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .menus {
    .titre_menus {
      & img {
        width: 110px;
        height: auto;
      }
    }
  }
  section {
    & h2 {
      font-size: 25px;
      margin-bottom: 30px;
    }
  }

  footer {
    & .mentions {
      font-size: 12px;
    }

    & .contact {
      font-size: 12px;
    }
  }
  
}

@media screen and (max-width: 550px) {
  .menus {
    .titre_menus {
      & img {
        width: 90px;
        height: auto;
      }
    }
  }
  .entrées,
  .plats,
  .desserts {
    & .entrée,
    .plat,
    .dessert {
      flex-direction: column;
      justify-content: center;

      & .description {
        display: flex;

        & p {
          width: 100%;
          text-align: center;
        }
      }
      & .prix {
        margin-bottom: 0px;
      }
    }
  }
  .dessert {
    & .description {
      margin: 0;
    }
  }
}

@media screen and (max-width: 505px) {
  .menus {
    .titre_menus {
      & img {
        width: 90px;
        height: auto;
      }
      .titre-menu a {
        font-size: 13px;
      }
    }
  }
}
@media screen and (max-width: 490px) {
  section {
    padding: 10px;
  }
}

@media screen and (max-width: 420px) {
  .menus {
    .titre_menus {
      & img {
        width: 80px;
        height: auto;
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .menus {
    .titre_menus {
      & img {
        width: 70px;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .menus {
    .titre_menus {
      & img {
        width: 60px;
        height: auto;
      }
    }
  }
}
@media screen and (max-width: 340px) {
  .menus {
    .titre_menus {
      & img {
        width: 50px;
        height: auto;
      }
    }
  }
}