@media screen and (max-width: 1024px) {
  section {
    padding: 20px;
  }
  .menus {
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  section {
    & h2 {
      font-size: 40px;
      margin-bottom: 30px;
    }
  }
  .menus {
    padding: 0px;
  }
  .titre_menus {
    & img {
      width: 130px;
      height: auto;
    }
  }
}

@media screen and (max-width: 610px) {
  section {
    & h2 {
      font-size: 30px;
    }
  }
  .menus {
    padding: 0px;
  }
  .titre_menus {
    & img {
      width: 110px;
      height: auto;
    }
  }
  .prix{
      & p{
          font-size: 14px;
      }
  }
}

