/* VARIABLES couleur */

$couleur_verte_principale: #579c87;
$couleur_jaune_principale: #fcca46;
$couleur_noire: #3f3f3f;
$couleur_corail: #fcdfdb;
$couleur_marron: #400909;
$couleur_rose: #fff5fe;
$couleur_orange: #c77412;
$couleur_brun_rose: #a56799;
$couleur_degrade_orange: #dc8527;
$couleur_degrade_violette: #8f5aff;
$couleur_violette: #8f5aff;
$couleur_beige: #fbfbfc;
$couleur_bleue: #0887fb;
$couleur_bleu_moyen: #0b73f3;
$couleur_degrade_violet: #264be2;
$couleur_bleu_foncee: #264be2;
$couleur_degrade_bleue: #178ffb;
$couleur_vert_pale: #fdfffd;
$couleur_verte-text: #72bf56;
$couleur_degrade_vertfoncee: #1b6817;
$couleur_degrade_vertclaire: #beff7f;
