/* VARIABLES couleur */

$couleur_verte_principale: #579c87;
$couleur_jaune_principale: #fcca46;
$couleur_noire: #3f3f3f;
$couleur_beige: #fbfbfc;
$couleur_bleue: #0887fb;
$couleur_bleu_moyen: #0b73f3;
$couleur_violette: #264be2;
$couleur_degrade_violet: #264be2;
$couleur_degrade_bleue: #178ffb;

