/* VARIABLES couleur */

$couleur_verte_principale: #579c87;
$couleur_jaune_principale: #fcca46;
$couleur_noire: #3f3f3f;
$couleur_rose: #fff5fe;
$couleur_orange: #c77412;
$couleur_degrade_orange: #dc8527;
$couleur_brun_rose: #a56799;
$couleur_violette: #8f5aff;
$couleur_degrade_violette: #8f5aff;
